<h1>Hi <%= @user.name%> You have a visitor waiting for you at the door :)</h1>
<p>
    Name Visitor: <%= @visitor.name%> </br>
    Last Name Visitor: <%= @visitor.lastname%> </br>
    CC Visitor: <%= @visitor.identification%> </br>
    Reason Visit: <%= @reason.description%> </br>
    Message: <%= @appointment.message%>
</p>
