<table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
<tr>
    <td style="background: #4be5aa;">
        <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td height="70" style="padding: 0 20px 20px 0; " >
                    <img src="" width="70" height="70" border="0" alt="" / >
                </td>
            </tr>
            <tr>
                <td class="subhead" style="padding: 0 0 0 3px;">
                <h4 style="font-size: 16px;">Hi <%= @user.name%> You have a visitor waiting for you at the door :)</h4>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>



    Name Visitor: <%= @visitor.name%> 
    Last Name Visitor: <%= @visitor.lastname%> 
    CC Visitor: <%= @visitor.identification%> 
    Reason Visit: <%= @reason.description%> 
    Message: <%= @appointment.message%>
    <%= image_tag(@appointment.photo) %>