<h2>Hey User </h2>
<% @users.each do |user|%>
    <p><%=user.email%></p>
<%end%>
<p>Notify to your guest</p>
<%= form_with model: @appointment do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :lastname %>
  <%= f.submit "Create" %>
<% end %>