<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag 'style' %>
    <title>Document</title>
</head>
<body>
    <div class="row flex" id="mycontainer">
        <div class="content col s12 m6 title_app red-color" >
            <h1 style= "font-family: 'Poiret One', cursive;">Entree</h1>
            <h3>...</h3>
            <h3 style= "font-family: 'Poiret One', cursive;">"Ensure your access"</h3> 
        </div>
        
        <%= form_with model: @appointment, html:{autocomplete:"off"}, class: "content col s12 m6 title_app blue-color" do |f| %>
            <div class="container">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <%= label(:visitor, :name) %>
                        <%= text_field(:visitor, :name, class: "validate")%>
                    </div>
                    <div class="input-field col s12 m6">
                        <%= label(:visitor, :lastname) %>
                        <%= text_field(:visitor, :lastname, class: "validate")%>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <%= label(:visitor, :identification) %>
                        <%= text_field(:visitor, :identification, class: "validate")%>
                    </div>
                    <div class="input-field paddingOptions col s12 m6">
                        <%= collection_select(:appointment, :reason_id, @reasons, :id, :description) %>
                         <%= f.label :reason_id %>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col s12">                
                    <div class="row">                
                        <div class="input-field col icon-search s12 m12">                       
                        <input type="text" id="demo-auto" class="autocomplete">                          <i class="search material-icons">search</i>  
                        <label for="demo-auto">Guest</label>                
                        </div>                
                    </div>               
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <%= f.text_area :message, class:"materialize-textarea"%>
                        <%= f.label :message %>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <%= f.hidden_field :user_id, :value => nil %>
                
            </div>      
        <% end %>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
  </div>


<script>
    function getRemote() {
        return JSON.parse($.ajax({
            type: "GET",
            url: '/appointments/get_users',
            async: false
        }).responseText);
    }

    $(document).ready(function(){
        // Plugin initialization
        $('select').not('.disabled').formSelect();
        values = getRemote()        
        values = values.reduce(function(obj, item){ 
            key = `${item.id} ${item.name} ${item.lastname}`
            obj[key] = null;
            return obj 
            }, {})     
        $('input.autocomplete').autocomplete({ 
            data: values,
            onAutocomplete: function(data){
                $('#appointment_user_id').val(data.split(' ')[0])
            } ,
            limit: 3 
        });
    $('ul.dropdown-content').css('opacity', 1);
    $('.modal').modal();
    })
</script>
</body>
</html>
